body, html{
    margin: 0;
    padding: 0;
    font-size: 18px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
header{
    position: fixed;
    top: 0;
    background: rgba(135, 60, 255, 1);
    color: white;
    width: 100vw;
    height: 3.9em;
    box-sizing: border-box;
}
#title{
    float: left;
    margin: 0.75em 0.5em;
}
#toggle{
    float: right;
    font-size: 1.5em;
    border: none;
    background-color: rgba(0,0,0,0);
    outline: none;
    color: white;
    margin: 0.75em 0.5em;
}
#dashboard{
    background: rgb(141,68,255);
    background: linear-gradient(180deg, rgba(141,68,255,1) 0%, rgb(251, 246, 255) 100%);
    color: white;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#filters{
    margin: 6em 0 4em 0;
    padding: 0em 1em 0em 1em;
    box-sizing: border-box;
}
input{
    width: 30ch;
    font-size: 16px;
    padding-left: 1ch;
    height: 25.2px;
    outline: none;
    border: 2px solid rgb(40, 158, 255);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
input:focus{
    background-color: white;
}
.weighted-label{
    padding-top: 10px;
    font-size: 1.1em;
}
datalist{
    position: absolute;
    width: 30ch;
}
#arrow{
    position: absolute;
    bottom: 0;
    height: max-content;
    width: 100vw;
}
#arrow-icon{
    padding: 0;
    margin: 0;
    position: relative;
}
#submit{
    margin-bottom: 1.5em;
    font-size: 20px;
    border: 2px solid rgb(40, 158, 255);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

h2.graphtitle{
    margin-left: 1em;
    color: rgb(100, 100, 100);
}

#graphs{
    margin: 6em 1em;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 99%;
    align-items: center;
}

#unknown{
    min-width: 1em;
    max-width: 2em;
    width: 1.5em;
    box-sizing: border-box;
    float: left;
    color: rgb(40, 158, 255);
    margin-top: 0;
    padding: 0;
}

.bordered-item{
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    align-items: left;
}

canvas{
    max-width: 100%;
    max-height: 80vh;
}

@media (max-width: 500px){
    body, html{
        font-size: 14px;
    }
    .grid{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 0.5vh;
        padding: 0;
        margin: 0;
    }
    input{
        min-width: 10ch;
        width: 94%;
        max-width: 90vw;
        margin-bottom: 1em;
    }
}

@media(min-width: 501px) {
    .grid{
        display: grid;
        grid-template-columns: 15ch auto;
        row-gap: 2vh;
    }
    input{
        width: 90%;
    }
}

@media(min-width: 800px) and (orientation: landscape){
    .grid{
        display: grid;
        grid-template-columns: 15ch auto 15ch auto;
        row-gap: 2em;
    }
    .grid:nth-col(odd){
        margin-left: 1em;
        box-sizing: border-box;
    }
    input{
        min-width: 23ch;
        width: 80%;
        max-width: 40ch;
        float: left;
    }
    label{
        float: right;
    }
}

@media (min-width: 1007px) and (orientation: landscape){
    html, body{
        font-size: 25px;
    }
    input{
        padding: 10px;
    }
    #graphs{
        margin: 6em 1em;
        display: grid;
        row-gap: 2rem;
        column-gap: 2%;
        grid-template-columns: 49% 49%;
        align-items: center;
    }
}

